@font-face {
    font-family: 'Gotham';
    src: url('css/Gotham-Black.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('css/GothamNarrSSm-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 500px) {
    body {
        margin: 0;
        padding: 0;
        background-color: black;
        font-family: 'Gotham', Times, serif;
        color: white;
        text-align: center;
    }

    main {
        width: 700px;
        margin: auto;
    }

    .textMark {
        color: orange;
    }

    .title {
        width: 280px;
        height: 140px;
        margin: auto;
        font-family: 'Gotham-Medium', Times, serif;
        font-size: 135px;
        text-align: center;
        font-weight: 100;
        letter-spacing: -9px;
    }

    .subTitle1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 30px;
        margin: auto;
        font-size: 16px;
        color: black;
        background-color: orange;
    }

    .subTitle2 {
        margin-top: 0;
        font-size: 23px;
    }

    .text1 {
        font-size: 35px;
    }

    .sectionImg1,
    img {
        width: 270px;
        margin-bottom: 10px;
    }

    .sectionImg1 {
        width: 280px;
        margin: auto auto 35px;
    }

    .by {
        color: white;
        font-size: 19px;
        margin-bottom: 10px;
    }

    .container1 {
        background-color: white;
    }

    h1,
    h2 {
        margin: 0;
    }

    .content1 {
        display: flex;
        flex-direction: column;
        width: 590px;
        margin: auto;
        color: black;
    }

    .title2 {
        display: flex;
        height: 240px;
        background-color: orange;
        color: black;
        font-size: 70px;
    }

    .title2 h2 {
        display: flex;
        align-items: center;
        width: 590px;
        margin: auto;
    }

    .subTitle3 {
        font-size: 50px;
        text-align: left;
        margin-top: 30px;
    }

    .text2 {
        text-align: justify;
        font-size: 18px;
        font-family: 'Gotham-Medium', Times, serif;
    }

    .imageContant img {
        width: 200px;
    }

    .hr {
        width: 350px;
        height: 2px;
        border: none;
        background-color: orange;
    }

    .imageContant {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        width: 590px;
        margin: auto;
    }

    .subTitle4 {
        font-size: 50px;
        text-align: left;
        margin-top: 30px;
        color: orange;
    }

    .content2 {
        padding: 0px;
        list-style-position: inside;
        font-family: 'Gotham-Medium', Times, serif;
        text-align: left;
    }

    .content2 li {
        margin-top: 15px;
    }

    .container3 {
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .block3 {
        width: 590px;
        margin: auto;
        color: black;
        font-family: 'Gotham-Medium', Times, serif;
        text-align: left;
    }

    .block3 ul {
        padding: 0;
        list-style-position: inside;
    }

    .block3 li {
        margin-top: 25px;
        font-size: 23px;
    }

    .block4 {
        display: flex;
        flex-direction: column;
        width: 590px;
        margin: 40px auto 50px auto;
    }

    .block4 p {
        color: black;
        text-align: justify;
        width: 350px;
        font-size: 23px;
        font-family: 'Gotham-Medium', Times, serif;
    }

    .block5 {
        display: flex;
        flex-direction: column;
    }

    .block5 img {
        width: auto;
        margin: 0;
    }

    .subTitle5 {
        width: 590px;
        margin: 40px auto 40px auto;
        font-size: 40px;
        text-align: left;
        margin-top: 30px;
    }

    .title3 {
        background-color: orange;
    }

    .title3 h2 {
        background-color: black;
        width: 590px;
        border: solid 5px black;
        border-radius: 25px;
        margin: auto;
        font-size: 60px;
        margin: 30px auto 30px auto;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Gotham', Times, serif;
    color: white;
    text-align: center;
}

main {
    width: 700px;
    margin: auto;
}

.textMark {
    color: orange;
}

.title {
    width: 280px;
    height: 140px;
    margin: auto;
    font-family: 'Gotham-Medium', Times, serif;
    font-size: 135px;
    text-align: center;
    font-weight: 100;
    letter-spacing: -9px;
}

.subTitle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 30px;
    margin: auto;
    font-size: 16px;
    color: black;
    background-color: orange;
}

.subTitle2 {
    margin-top: 0;
    font-size: 23px;
}

.text1 {
    font-size: 35px;
}

.sectionImg1,
img {
    width: 270px;
    margin-bottom: 10px;
}

.sectionImg1 {
    width: 280px;
    margin: auto auto 35px;
}

.by {
    color: white;
    font-size: 19px;
    margin-bottom: 10px;
}

.container1 {
    background-color: white;
}

h1,
h2 {
    margin: 0;
}

.content1 {
    display: flex;
    flex-direction: column;
    width: 590px;
    margin: auto;
    color: black;
}

.title2 {
    display: flex;
    height: 240px;
    background-color: orange;
    color: black;
    font-size: 70px;
}

.title2 h2 {
    display: flex;
    align-items: center;
    width: 590px;
    margin: auto;
}

.subTitle3 {
    font-size: 50px;
    text-align: left;
    margin-top: 30px;
}

.text2 {
    text-align: justify;
    font-size: 18px;
    font-family: 'Gotham-Medium', Times, serif;
}

.imageContant img {
    width: 200px;
}

.hr {
    width: 350px;
    height: 2px;
    border: none;
    background-color: orange;
}

.imageContant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    width: 590px;
    margin: auto;
}

.subTitle4 {
    font-size: 50px;
    text-align: left;
    margin-top: 30px;
    color: orange;
}

.content2 {
    padding: 0px;
    list-style-position: inside;
    font-family: 'Gotham-Medium', Times, serif;
    text-align: left;
}

.content2 li {
    margin-top: 15px;
}

.container3 {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.block3 {
    width: 590px;
    margin: auto;
    color: black;
    font-family: 'Gotham-Medium', Times, serif;
    text-align: left;
}

.block3 ul {
    padding: 0;
    list-style-position: inside;
}

.block3 li {
    margin-top: 25px;
    font-size: 23px;
}

.block4 {
    display: flex;
    flex-direction: column;
    width: 590px;
    margin: 40px auto 50px auto;
}

.block4 p {
    color: black;
    text-align: justify;
    width: 350px;
    font-size: 23px;
    font-family: 'Gotham-Medium', Times, serif;
}

.block5 {
    display: flex;
    flex-direction: column;
}

.block5 img {
    width: auto;
    margin: 0;
}

.subTitle5 {
    width: 590px;
    margin: 40px auto 40px auto;
    font-size: 40px;
    text-align: left;
    margin-top: 30px;
}

.title3 {
    background-color: orange;
}

.title3 h2 {
    background-color: black;
    width: 590px;
    border: solid 5px black;
    border-radius: 25px;
    margin: auto;
    font-size: 60px;
    margin: 30px auto 30px auto;
}
