@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Black.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('/fonts/GothamNarrSSm-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Gotham', Times, serif;
    color: white;
    text-align: center;
}

main {
    width: 700px;
    margin: auto;
}

.textMark {
    color: orange;
}

.title {
    width: 280px;
    height: 140px;
    margin: auto;
    font-family: 'Gotham-Medium', Times, serif;
    font-size: 135px;
    text-align: center;
    font-weight: 100;
    letter-spacing: -9px;
}

.subTitle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 30px;
    margin: auto;
    font-size: 16px;
    color: black;
    background-color: orange;
}

.subTitle2 {
    margin-top: 0;
    font-size: 23px;
}

.text1 {
    font-size: 35px;
}

.sectionImg1,
img {
    width: 270px;
    margin-bottom: 10px;
}

.sectionImg1 {
    width: 280px;
    margin: auto auto 35px;
}

.by {
    color: white;
    font-size: 19px;
    margin-bottom: 10px;
}

.container1 {
    background-color: white;
}

h1,
h2 {
    margin: 0;
}

.content1 {
    display: flex;
    flex-direction: column;
    width: 590px;
    margin: auto;
    color: black;
}

.title2 {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    color: black;
    font-size: 70px;
}

.subTitle3 {
    font-size: 50px;
    text-align: left;
    margin-top: 30px;
}

.text2 {
    text-align: justify;
    font-size: 18px;
    font-family: 'Gotham-Medium', Times, serif;
}

.imageContant img {
    width: 200px;
}

.hr {
    width: 350px;
    height: 2px;
    border: none;
    background-color: orange;
}

.imageContant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}